<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<servlet>
    <servlet-name>display</servlet-name>
    <jsp-file>display.jsp</jsp-file>
</servlet>
<servlet-mapping>
    <servlet-name>display</servlet-name>
    <url-pattern>/display</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>search</servlet-name>
	<jsp-file>search.jsp</jsp-file>
</servlet>
<servlet-mapping>
	<servlet-name>search</servlet-name>
	<url-pattern>/search</url-pattern>
</servlet-mapping>
<servlet>
        <servlet-name>enter</servlet-name>
	        <jsp-file>enter.jsp</jsp-file>
		</servlet>
		<servlet-mapping>
		        <servlet-name>enter</servlet-name>
			        <url-pattern>/enter</url-pattern>
				</servlet-mapping>
<servlet>
<servlet-name>refresh</servlet-name>
<jsp-file>refresh.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>refresh</servlet-name>
<url-pattern>/refresh</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>shopcart</servlet-name>
<jsp-file>shopcart.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>shopcart</servlet-name>
<url-pattern>/shopcart</url-pattern>
</servlet-mapping>


<filter>
  <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
	  <listener-class>com.example.shopcart.OfyHelper</listener-class>
	  </listener>
<welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
</welcome-file-list>

</web-app>
